
        @@include("../../blocks/modules/header/header-2.html")
        <div class="container">
            <h1 class="arch__title">
                Архитектура
            </h1>
        
<div class="blog-page">
        <div class="content__wrapper">
            <div class="ct-port__item">
                <a href="#" class="ct-port__link">
                    <img src="/img/img1.jpg" alt="" class="ct-port__img">
                    <div class="ct-port__text">
                        <p class="ct-port__title">
                            Заголовок работы
                        </p>
                        <p class="ct-port__desc">
                            Тут описание работы можно писать сколько угодно
                            но желательно писать кратко
                        </p>
                    </div>  
                </a>
                
            </div>
            <div class="ct-port__item">
                <a href="#" class="ct-port__link">
                    <img src="/img/img1.jpg" alt="" class="ct-port__img">
                    <div class="ct-port__text">
                        <p class="ct-port__title">
                            Заголовок работы
                        </p>
                        <p class="ct-port__desc">
                            Тут описание работы можно писать сколько угодно
                            но желательно писать кратко
                        </p>
                    </div>  
                </a>
            </div>
            <div class="ct-port__item">
                <a href="#" class="ct-port__link">
                    <img src="/img/img1.jpg" alt="" class="ct-port__img">
                    <div class="ct-port__text">
                        <p class="ct-port__title">
                            Заголовок работы
                        </p>
                        <p class="ct-port__desc">
                            Тут описание работы можно писать сколько угодно
                            но желательно писать кратко
                        </p>
                    </div>  
                </a>
            </div>
            <div class="ct-port__item">
                <a href="#" class="ct-port__link">
                    <img src="/img/img1.jpg" alt="" class="ct-port__img">
                    <div class="ct-port__text">
                        <p class="ct-port__title">
                            Заголовок работы
                        </p>
                        <p class="ct-port__desc">
                            Тут описание работы можно писать сколько угодно
                            но желательно писать кратко
                        </p>
                    </div>  
                </a>
            </div>
            <div class="ct-port__item">
                <a href="#" class="ct-port__link">
                    <img src="/img/img1.jpg" alt="" class="ct-port__img">
                    <div class="ct-port__text">
                        <p class="ct-port__title">
                            Заголовок работы
                        </p>
                        <p class="ct-port__desc">
                            Тут описание работы можно писать сколько угодно
                            но желательно писать кратко
                        </p>
                    </div>  
                </a>
            </div>
            <div class="ct-port__item">
                <a href="#" class="ct-port__link">
                    <img src="/img/img1.jpg" alt="" class="ct-port__img">
                    <div class="ct-port__text">
                        <p class="ct-port__title">
                            Заголовок работы
                        </p>
                        <p class="ct-port__desc">
                            Тут описание работы можно писать сколько угодно
                            но желательно писать кратко
                        </p>
                    </div>  
                </a>
            </div>
            <div class="ct-port__item">
                <a href="#" class="ct-port__link">
                    <img src="/img/img1.jpg" alt="" class="ct-port__img">
                    <div class="ct-port__text">
                        <p class="ct-port__title">
                            Заголовок работы
                        </p>
                        <p class="ct-port__desc">
                            Тут описание работы можно писать сколько угодно
                            но желательно писать кратко
                        </p>
                    </div>  
                </a>
            </div>
            <div class="ct-port__item">
                <a href="#" class="ct-port__link">
                    <img src="/img/img1.jpg" alt="" class="ct-port__img">
                    <div class="ct-port__text">
                        <p class="ct-port__title">
                            Заголовок работы
                        </p>
                        <p class="ct-port__desc">
                            Тут описание работы можно писать сколько угодно
                            но желательно писать кратко
                        </p>
                    </div>  
                </a>
            </div>
            <div class="ct-port__item">
                <a href="#" class="ct-port__link">
                    <img src="/img/img1.jpg" alt="" class="ct-port__img">
                    <div class="ct-port__text">
                        <p class="ct-port__title">
                            Заголовок работы
                        </p>
                        <p class="ct-port__desc">
                            Тут описание работы можно писать сколько угодно
                            но желательно писать кратко
                        </p>
                    </div>  
                </a>
            </div>
            <div class="ct-port__item">
                <a href="#" class="ct-port__link">
                    <img src="/img/img1.jpg" alt="" class="ct-port__img">
                    <div class="ct-port__text">
                        <p class="ct-port__title">
                            Заголовок работы
                        </p>
                        <p class="ct-port__desc">
                            Тут описание работы можно писать сколько угодно
                            но желательно писать кратко
                        </p>
                    </div>  
                </a>
            </div>
        </div>
    </div>

    <!-- Sidebar Start-->
    <div id="secondary" class="blog-page__articles blog-page__sidbar">
        <aside id="sidebar" class="sidebar">
            

            <div class="widget widget_categories">
                <h4 class="widget-title">Categories</h4>
                <ul class="link-list cf">
                    <li><a href="#">Designs</a></li>
                    <li><a href="#">Internet</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">Photography</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Other Stuff</a></li>
                </ul>
            </div>

            <div class="widget widget_tag_cloud">
                <h4 class="widget-title"> #Теги </h4>
                <div class="tagcloud">
                    <a href="#" class="">
                        #маркетинг
                    </a>
                    <a href="#" class="">
                        #Трейд
                    </a>
                    <a href="#" class="">
                        #Трейд маркетинг
                    </a>
                </div>
                    

            </div>
        </aside>
    </div>
</div>
        @@include("../../blocks/modules/footer/footer.html")
        