
        @@include("../../blocks/modules/header/header-2.html")
<div class="container">
    <h1 class="arch__title">
        Контакты
    </h1>
<p class="contacts__text">
    Вы всегда можете нас найти по адресу: г. Уфа, ул. Сагит-Агиша, 5/1, кв. 15
</p>
</div>
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaab9163ef876789348d798f5fc5cd5aa662eb2319b7b69628d87ae0b4e48b35b&amp;source=constructor" width="1920" height="700" frameborder="0"></iframe>
        @@include("../../blocks/modules/footer/footer.html")
        