
        @@include("../../blocks/modules/header/header-2.html")
<div class="container">
    <h1 class="arch__title">
        Новости
    </h1>
<p class="contacts__text">
    Здесь мы публикуем новости о нас
</p>
<section class="content container ">
    <article class="content__wrapper blog-page__post">
        <p class="post-meta ">
            <time class="date" datetime="2019-09-14T11:24">14.09.2019</time>
            /
            <span class="categories">
                <a href="#">Денис Дойников</a>
            </span>
        </p>
        <p class="content__post ">
            Профессия дизайнера шире, чем нам кажется на первый взгляд. Дизайнер – это человек, который соединяет в себе техническое
            и творческое начала. Он создаёт и погружает нас в фантастический мир ярких красок, образов и технологий.
        </p>
        <p class="content__post">
            Технологии развиваются стремительно, и мир дизайна не остался в стороне. Каждый месяц появляются новые программы и
            технологические возможности, которые требуют расширения навыков дизайнеров.
        </p>
        <p class="content__post">
            Практически невозможно, да и нецелесообразно, быть дизайнером-универсалом. Даже если вам удастся найти курсы, где
            обещают научить всему и сразу, то в любом случае для своей дальнейшей профессиональной деятельности вы выберете одну,
            максимум две специализации.
        </p>
        <p class="content__post">
            Существует не меньше 10 направлений дизайна. Давайте рассмотрим самые популярные из них.
        </p>
        <h3 class="content__title">
            ВЕБ-ДИЗАЙНЕР
        </h3>
        <p class="content__post">
            Почетное первое место занимает человек, создающий внешний вид сайтов. Именно веб-дизайнер определяет, где на странице
            будут располагаться те или иные элементы, как они будут выглядеть и каким образом пользователь будет с ними
            взаимодействовать.

        </p>
        <p class="content__post">
            Почетное первое место занимает человек, создающий внешний вид сайтов. Именно веб-дизайнер определяет, где на
            странице
            будут располагаться те или иные элементы, как они будут выглядеть и каким образом пользователь будет с ними
            взаимодействовать.
        
        </p>
        <p class="content__post">
            Почетное первое место занимает человек, создающий внешний вид сайтов. Именно веб-дизайнер определяет, где на
            странице
            будут располагаться те или иные элементы, как они будут выглядеть и каким образом пользователь будет с ними
            взаимодействовать.
        
        </p>
        <p class="content__post">
            Почетное первое место занимает человек, создающий внешний вид сайтов. Именно веб-дизайнер определяет, где на
            странице
            будут располагаться те или иные элементы, как они будут выглядеть и каким образом пользователь будет с ними
            взаимодействовать.
        
        </p>
        <p class="content__post">
            Почетное первое место занимает человек, создающий внешний вид сайтов. Именно веб-дизайнер определяет, где на
            странице
            будут располагаться те или иные элементы, как они будут выглядеть и каким образом пользователь будет с ними
            взаимодействовать.
        
        </p>
        <p class="content__post">
            Почетное первое место занимает человек, создающий внешний вид сайтов. Именно веб-дизайнер определяет, где на
            странице
            будут располагаться те или иные элементы, как они будут выглядеть и каким образом пользователь будет с ними
            взаимодействовать.
        
        </p>
        <p class="content__post">
            Профессия дизайнера шире, чем нам кажется на первый взгляд. Дизайнер – это человек, который соединяет в себе
            техническое
            и творческое начала. Он создаёт и погружает нас в фантастический мир ярких красок, образов и технологий.
        </p>
        <p class="content__post">
            Технологии развиваются стремительно, и мир дизайна не остался в стороне. Каждый месяц появляются новые программы и
            технологические возможности, которые требуют расширения навыков дизайнеров.
        </p>
        <p class="content__post">
            Практически невозможно, да и нецелесообразно, быть дизайнером-универсалом. Даже если вам удастся найти курсы, где
            обещают научить всему и сразу, то в любом случае для своей дальнейшей профессиональной деятельности вы выберете
            одну,
            максимум две специализации.
        </p>
    </article>
 <!-- Sidebar Start-->
 <div id="secondary" class="blog-page__articles blog-page__sidbar">
    <aside id="sidebar" class="sidebar">

        <div class="widget widget_tag_cloud">
            <h4 class="widget-title"> #Теги </h4>
            <div class="tagcloud">
                <a href="#" class="">
                    #маркетинг
                </a>
                <a href="#" class="">
                    #Трейд
                </a>
                <a href="#" class="">
                    #Трейд маркетинг
                </a>
            </div>
                

        </div>
    </aside>
</div>
</section>
        @@include("../../blocks/modules/footer/footer.html")
        