@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #151221;
    position: relative;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    line-height: 1.45em;
}
html {
    
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

p {
    color: #000;
}

.main-body {
  height: 100vh;
  overflow: hidden;
}

.container {
    width: 1440px !important;
    margin: 0 auto !important;
    min-width: 1440px;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

a, a:hover, a:active, a:focus, button, input, button:hover, button:active, button:focus, input:active, input:focus {
    text-decoration: none;
    outline: none;
    color: #000;
}

.menu__bg {
    background: #fff;
}

.header {
    margin: 0;
    position: relative;
}

.logo-main {
  width: 150px;
}

.content__bg {
    display: none;
}

.hamburger-menu {
    z-index: 10;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

.header__main {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang__link_cut {
    display: none;
}

.header__menu {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu__item {
    margin-left: 30px;
    &:first-child {
        margin-left: 0;
    }
    
}
ul a.menu__link{
    color: #787878;
    &:hover {
        color: #000;
        transition: all 0.5s cubic-bezier(.5, 0, .3, 1);
    }
}

.language__item {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
        color: #787878;
    }
    & a:hover, a:active {
        color: #000;
        transition: all 0.5s cubic-bezier(.5, 0, .3, 1);
    }
    & p {
        margin-left: 10px;
        margin-right: 10px;
    }
}

section.main-sect {
    background: #000;
    height: 100vh;
}

.offer {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    
}


/* Слайдер */

%transition_all_03s {
  transition:all .3s ease;
}
%backface_visibility_hidden{
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 80%;
  height: 100vh;
  // display:inline-block;
  // vertical-align:top;
  float:left;
  transition:opacity .6s ease, transform .3s ease;
  &.nav-slider{
    width:20%;
    padding-left:5px;
    .swiper-slide{
      cursor:pointer;
      opacity:.4;
      transition:opacity .3s ease;
      &.swiper-slide-active{
        opacity:1;
      }
      .content{
        width:100%;
        .title{
          font-size:20px;
        }
      }
    }
  }
  &:hover{
    .swiper-button-prev,
    .swiper-button-next{
      transform:translateX(0);
      opacity:1;
      visibility:visible;
    }
  }
  &.loading{
    opacity:0;
    visibility:hidden;
  }
}
.swiper-wrapper{

}
.swiper-slide{
  overflow: hidden;
  @extend %backface_visibility_hidden;
  .slide-bgimg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-position:center;
    background-size:cover;
  }
  .entity-img{
    display:none;
  }
  .content{
    position:absolute;
    bottom:11%;
    left:0;
    width:40%;
    padding-left:5%;
    color:#fff;
    background: rgba(0,0,0,.8);
    .title{
      font-size:20px;
      font-weight:bold;
      color: #fff;
      padding-top: 15px;
      padding-bottom: 10px;
    }
    .caption{
      display:block;
      font-size:15px;
      padding-bottom: 15px;
      transition:opacity .1s ease, transform .3s ease;
    }
  }
}
.hide {
  display: none;
}
[class^="swiper-button-"]{
  width:44px;
  opacity:0;
  visibility:hidden;
  @extend %transition_all_03s;
}
.swiper-button-prev{
  transform:translateX(50px);
}
.swiper-button-next{
  transform:translateX(-50px);
}

.arch__title {
  margin-top: 60px;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

/* Архитектура */

.blog-page {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.content__wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.ct-port__desc {
  display: none;
    color: #fff;
    padding-bottom: 10px;
    cursor: pointer;
}
.ct-port__link {
  &:hover .ct-port__desc { 
    display: block;
    transition: all .5 ease;
  }
}
.ct-port__item {
  width: calc(100%/3 - 15px);
  margin-bottom: 15px;
  position: relative;
  &:hover {
    box-shadow: 0 2px 7px 0 rgba(10, 10, 10, .05),
    3px 27px 54px -34px rgba(0, 0, 0, .47);
    transition: all .5 ease;
  }
  
}
.ct-port__img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.ct-port__text {
  position:absolute;
    bottom:1%;
    left:0;
    width:100%;
    padding-left:5%;
    color:#fff;
    background: rgba(0,0,0,.8);
    .ct-port__title{
      font-size:20px;
      font-weight:bold;
      color: #fff;
      padding-top: 15px;
      padding-bottom: 10px;
      
    }

}

.ct-port__item:hover {
  transition: all 0.5s ease;
  
  .ct-port__desc {
    
    
  }
}

/* Sidebar */
.blog-page__sidbar {
    flex-basis: 30%;
    width: 100%;
    margin-left: 30px;
}
.post {
    cursor: pointer;
}
.widget {
    margin-bottom: 30px;
}
.widget-title {
    margin-bottom: 15px;
}
.widget_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 240px;
    padding: 5%;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../img/shop.jpg);
}
.widget-title, .textwidget {
    text-align: left;
}
.widget_text h4, .widget_text div {
    color: #fff;
}
.post__important_title {
    text-align: left;
}

.widget_recent_entries a {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-top: 15px;
    border-radius: 10px;
    color: #151221;
    box-shadow: 0 2px 7px 0 rgba(10, 10, 10, .05),
        3px 27px 54px -34px rgba(0, 0, 0, .47);
    &:hover {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .07);
    }
}
.post__important_img {
    width: 100px;
    height: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.post__important_content {
    margin-left: 15px;
}
.post__important_title {
    color: #151221;
    margin-top: 15px;
}
.post__important_descriptor {
    margin: 0;
    margin-top: 5px;
}

.tags__title {
    text-align: left;
    margin-top: 60px;
}
.tagcloud {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    & a {
        margin: 0;
        padding: 15px 30px;
        background: #fff;
        color: #151221;
        font-weight: 500;
        margin-right: 10px;
        margin-top: 10px;
        box-shadow: 0 2px 7px 0 rgba(10, 10, 10, .05);
    }
}
.widget_categories ul {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    &li {
        margin: 0;
        padding: 15px 30px;
        background: #fff;
        color: #151221;
        font-weight: 500;
        border-radius: 25px;
        margin-right: 10px;
        margin-top: 10px;
        box-shadow: 0 8px 40px -5px rgba(9,31,67,.15);
    }
    &a {
        color: #151221;
    }
}
.widget_categories li:hover {
    border: 1px solid rgba(9,31,67,.15);
}
.tagcloud a:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .07);
}
#sidebar .tagcloud a {
    font-size: 15px !important;
}
.widget {
    cursor: pointer;
}

/* End Sidebar */


/* Контакты */

.contacts__text {
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

/* Blog Page */
.blog-page {
  display: flex;
  justify-content: space-between;
}
.blog-page__post {
  flex-basis: 70%;
  width: 100%;
}
.blog-page__post-main {
  width: 70%;
  margin: 0 auto;
}
.post {
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.post-main {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.post__title {
  text-align: left;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2em;
}
.post__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.post-meta {
  font-size: 15px;
  text-align: left !important;
  font-weight: 500;
  color: #8b9099;
  padding: 10px 0;
}
.post-meta a {
  color: #8b9099;
  &:hover {
      color: #000;
      transition: all .7s ease;
  }
}
.post p {
  padding-top: 15px;
  font-size: 18px;
  color: #8b9099;
  line-height: 1.5em;
}
.post__title, .post__meta, .post__content {
  margin: 0;
}


/* Pagination */

.pagination ul, .nav-links {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.page-numbers {
  display: block;
  text-align: center;
  line-height: 44px;
  width: 42px;
  height: 42px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 15px;
  &:hover, :active {
      background-color: #fff;
      box-shadow: 5px 5px 40px 0 rgba(9, 31, 67, .3);
  }
}

.pagination a, .pagination span {
  -webkit-transition: all .4s ease;
  transition: all .5s ease;
  color: #687188;
  font-weight: 700;
  font-size: 15px;
  &:hover {
      box-shadow: none;
      cursor: pointer;
  }
}
.pagination a {
  &:hover {
      border: 1px solid rgba(9, 31, 67, .3);
      transition: none;
  }
}
.pagination li {
  display: flex;
  align-items: center;
}
.prev, .next {
  font-size: 30px !important;
  margin-top: 0;
  font-weight: 400;
}
.pagination .current {
  color: #000;
  background-color: #fff;
  box-shadow: 0 8px 40px -5px rgba(9,31,67,.15);
}
.next {
  margin-left: 15px;
}

/* In Blog */

.content {
  padding-top: 60px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
}
.content__post {
  font-size: 18px;
}
.content__title {
  font-weight: 400;
}


.post-meta {
  text-align: center;
}
.post-meta time {
  color: #151221;
  font-weight: 700;
}
.categories a {
  color: #687188;
  font-weight: 500;
  &:hover {
      color: #e72963;
      transition: 0.3s;
  }
}